// ---- GENERALES
* {
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}