* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header {
  background: url("../IMG/bg.png") #3f3f3f;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px;
}

header .menu {
  margin: 40px 0;
  text-align: right;
}

header .menu a {
  margin: 0 20px;
  color: #fff;
  display: inline-block;
  padding-bottom: 9px;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

header .menu a:hover {
  border-bottom: 2px solid #fff;
}

header .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 190px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .text-container .text {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  padding: 20px 60px;
}

header .text-container .text h1, header .text-container .text h2 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

header .text-container .text .name {
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 50px;
}

header .text-container .text .career {
  line-height: 25px;
}

.dack {
  background: url("../IMG/dack-bg.png");
}

.dark-mode {
  background: url("../IMG/dark-mode.png");
}

.main article {
  text-align: center;
}

.main article .text {
  color: #5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
}

.main article .text .dack_ {
  color: rgba(90, 90, 90, 0.3);
}

.main article .text .title {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #dd820d;
  text-align: center;
}

.main article .text .bold {
  color: #606060;
  text-decoration: underline;
}

.main article .text .redes a {
  font-size: 45px;
  margin: 0 30px;
}

.main article .text .redes .fb {
  color: #3b5998;
}

.main article .text .redes .fb:hover {
  color: rgba(59, 89, 152, 0.5);
}

.main article .text .redes .tw {
  color: #1da1f2;
}

.main article .text .redes .tw:hover {
  color: rgba(29, 161, 242, 0.5);
}

.main article .text .redes .what {
  color: #25d366;
}

.main article .text .redes .what:hover {
  color: rgba(37, 211, 102, 0.5);
}

.main .projects {
  background: #f2f2f2;
  padding: 10px 0 60px 0;
}

.main .projects .container {
  overflow: hidden;
}

.main .projects .title {
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #323068;
  text-align: center;
}

.main .projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .projects .projects-container .project {
  width: 32%;
  margin-bottom: 40px;
}

.main .projects .projects-container .project .demo {
  width: 100%;
  margin-bottom: 10px;
}

.main .projects .projects-container .project .demo img {
  width: 100%;
  vertical-align: top;
  border-radius: 3px;
}

.main .projects .projects-container .project .demo img:hover {
  color: #000;
}

.main .projects .projects-container .project .description {
  text-align: center;
}

.main .projects .projects-container .project .description .name {
  font-weight: 700;
  color: #3895ea;
  text-decoration: none;
}

.main .projects .projects-container .project .description .name:hover {
  color: rgba(56, 149, 234, 0.5);
}

.main .projects .projects-container .project .description .category {
  font-size: 14px;
  color: #636363;
}

.main .galery {
  background: #f2f2f2;
  padding: 10px 0 60px 0;
}

.main .galery .container {
  overflow: hidden;
}

.main .galery .title {
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #323068;
  text-align: center;
}

.main .galery .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .galery .img-container .uno {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main .galery .img-container .dos {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main .galery .img-container .tres {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.main .galery .img-container .cuatro {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.main .galery .img-container .cinco {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.main .galery .img-container .img {
  width: 30%;
  margin-bottom: 40px;
}

.main .galery .img-container .img .demo {
  width: 100%;
  margin-bottom: 10px;
}

.main .galery .img-container .img .demo img {
  width: 100%;
  vertical-align: top;
  border-radius: 3px;
}

.main .galery .img-container .img .demo img:hover {
  color: #000;
}

.main .galery .img-container .img .description {
  text-align: center;
}

.main .galery .img-container .img .description .name {
  font-weight: 700;
  color: #3895ea;
  text-decoration: none;
}

.main .galery .img-container .img .description .name:hover {
  color: rgba(56, 149, 234, 0.5);
}

.main .galery .img-container .img .description .category {
  font-size: 14px;
  color: #636363;
}

.main .links {
  background: #fff;
  padding: auto;
}

.main .links .container {
  text-align: center;
  height: 300px;
}

.main .links .container .title {
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #323068;
  text-align: center;
}

.main .links .container .links-container {
  margin: auto;
  width: 90%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main .links .container .links-container .link {
  margin: 100px 40px;
}

.main .links .container .links-container .link a {
  background: #fff;
  color: #000;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  border: 1.5px solid #000;
}

.main .links .container .links-container .link a:hover {
  background: #000;
  color: #fff;
}

.main .emails {
  background: #f2f2f2;
  padding: 20px 0;
}

.main .emails .title {
  margin: 0;
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #323068;
  text-align: center;
}

.main .emails .mails {
  text-align: center;
}

.main .emails .mails .mail {
  margin: auto;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 25px;
  border-bottom: 1px solid #000;
  width: 30%;
  padding-bottom: 10px;
}

@font-face {
  font-family: "Proxima Nova Soft";
  src: url("../FONTS/FontsFree-Net-Proxima-Nova-Soft-W03-Regular.ttf");
}

footer {
  background: #1e2b38;
  padding: 10px 0;
}

footer div {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

footer div h2 {
  font-family: 'Proxima Nova Soft';
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
}

footer div p {
  font-family: 'Proxima Nova Soft';
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;
}

footer div .year {
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  header .menu {
    text-align: center;
  }
  .main .projects .projects-container .project {
    width: 40%;
  }
  .main .galery .img-container .img {
    width: 40%;
  }
  .main .emails .mails .mail {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  header .text-container {
    margin: 100px 0;
  }
  .main .emails .mails .mail {
    width: 80%;
  }
  .main .galery .img-container .img {
    width: 49%;
  }
  .main .links .container {
    height: 300px;
  }
  .main .links .container .title {
    margin: 0;
    margin-top: 10px;
  }
  .main .links .container .links-container {
    padding: 0;
    display: inline-block;
  }
  .main .links .container .links-container .link {
    margin: 0;
    margin: 40px 40px 20px 40px;
    display: inline-block;
  }
  .main .links .container .links-container .link a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 400px) {
  header .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 110px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header .text-container .text {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
  }
  header .text-container .text .name {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
  }
  header .text-container .text .career {
    font-size: 22px;
    line-height: 22px;
  }
  header .menu a {
    margin: 0 10px;
  }
  .main .projects .projects-container .project {
    width: 90%;
    margin: auto;
  }
  .main .galery .img-container .uno {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .galery .img-container .dos {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main .galery .img-container .tres {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main .galery .img-container .cuatro {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main .galery .img-container .cinco {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .main .galery .img-container .img {
    width: 90%;
    margin: auto;
  }
  .main .emails .mails .mail {
    width: 88%;
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  header .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 90px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header .text-container .text {
    border-radius: 3PX;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
  }
  header .text-container .text .name {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 30px;
  }
  header .text-container .text .career {
    font-size: 18px;
    line-height: 18px;
  }
  header .menu a {
    margin: 0 10px;
  }
  .main article .text .redes a {
    margin: 0 20px;
  }
  .main .projects .projects-container .project {
    width: 90%;
    margin: auto;
  }
  .main .galery .img-container .img {
    width: 90%;
    margin: auto;
  }
  .main .emails .mails .mail {
    width: 95%;
    font-size: 16px;
  }
}
/*# sourceMappingURL=estilos.css.map */